<style>
#primeiro-titulo {
    color: orange;
    font-family: sans-serif;
    font-size: 65px;
}
body {
background-color: gray;
font-size: 16px;
 }
 p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
    line-height: 40px;
    text-align: left;
    text-decoration: underline;
 }
#lista-nao-ordenada {
background-color: pink;
}
.sytle-ul-p {
background-color: yellowgreen;
}
#yellow {
background-color: yellow;
}
#red {
background-color: red;
}
#brown {
background-color: brown;
}
</style>